.text {
  width: 100%;
  top: calc(50% - 8px);
  left: 0;
  line-height: 16px;
  display: inline-block;
  height: 16px;
  border: none;
}
.partialsTextFieldFloatin {
  position: absolute;
  width: calc(100% - 34px);
  top: calc(50% - 9px);
  right: 18px;
  left: 16px;
  height: 16px;
}
.controlsDd,
.controlsMm,
.controlsYy {
  position: absolute;
  width: 64px;
  top: 343px;
  right: 27px;
  left: 282px;
  border-radius: var(--br-sm);
  background-color: var(--sky-white);
  border: 1px solid var(--sky-light);
  box-sizing: border-box;
  height: 42px;
}
.controlsMm,
.controlsYy {
  right: 103px;
  left: 206px;
}
.controlsYy {
  right: 179px;
  left: 130px;
}
.joinChild {
  position: absolute;
  top: 95px;
  left: 153px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.partialsTextFieldFloatin3 {
  position: absolute;
  width: calc(100% - 34px);
  top: calc(50% - 8.5px);
  right: 18px;
  left: 16px;
  height: 16px;
}
.controlsId,
.controlsName,
.controlsPassword,
.controlsPasswordcheck {
  position: absolute;
  width: calc(100% - 156px);
  top: 276px;
  right: 23px;
  left: 133px;
  border-radius: var(--br-sm);
  background-color: var(--sky-white);
  border: 1px solid var(--sky-light);
  box-sizing: border-box;
  height: 45px;
}
.controlsId,
.controlsPassword,
.controlsPasswordcheck {
  top: 222px;
}
.controlsId,
.controlsPassword {
  top: 164px;
  right: 26px;
  left: 130px;
}
.controlsId {
  top: 106px;
}
.rightActionable,
.title {
  position: absolute;
  top: calc(50% - 9px);
  line-height: 18px;
}
.title {
  left: calc(50% - 32.5px);
}
.rightActionable {
  right: 24px;
  font-weight: 500;
  color: var(--primary-base);
  text-align: right;
  display: none;
}
.leftActionableIcon {
  position: absolute;
  top: calc(50% - 12px);
  left: 18px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.barsNavBarsStandard {
  position: absolute;
  width: 100%;
  top: 44px;
  right: 0;
  left: 0;
  background-color: var(--sky-white);
  height: 48px;
  text-align: center;
  font-size: var(--large-normal-bold-size);
  color: var(--ink-darkest);
}
.div,
.div1 {
  position: absolute;
  line-height: 16px;
  font-weight: 500;
}
.div {
  width: calc(100% - 298px);
  top: 348px;
  left: 30px;
  color: var(--ink-darkest);
  display: inline-block;
  height: 16px;
}
.div1 {
  top: 296px;
}
.div1,
.div2,
.div3 {
  width: calc(100% - 298px);
  left: 30px;
  color: var(--ink-darkest);
  display: inline-block;
  height: 16px;
}
.div2 {
  position: absolute;
  top: 228px;
  line-height: 16px;
  font-weight: 500;
}
.div3 {
  top: 177px;
}
.div3,
.div4,
.text7 {
  position: absolute;
  line-height: 16px;
  font-weight: 500;
}
.div4 {
  width: calc(100% - 298px);
  top: 123px;
  left: 30px;
  color: var(--ink-darkest);
  display: inline-block;
  height: 16px;
}
.text7 {
  top: calc(50% - 8px);
  left: calc(50% - 28.5px);
  font-size: var(--regular-none-regular-size);
  font-family: var(--tiny-none-regular);
  color: var(--sky-white);
  text-align: center;
}
.controlsJoinbuttons {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--ink-darkest);
  position: absolute;
  width: calc(100% - 48px);
  right: 28px;
  bottom: 43px;
  left: 20px;
  border-radius: var(--br-lg);
  height: 48px;
}
.joinItem {
  position: absolute;
  top: 84px;
  left: 208px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.join {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--sky-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--regular-none-regular-size);
  color: var(--ink-lighter);
  font-family: var(--tiny-none-regular);
}
