.text {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 21.5px);
  font-size: var(--regular-none-regular-size);
  line-height: 16px;
  font-weight: 500;
  font-family: var(--tiny-normal-regular);
  color: var(--sky-white);
  text-align: center;
}
.controlsButtons {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--ink-darkest);
  position: absolute;
  width: calc(100% - 48px);
  right: 24px;
  bottom: 293px;
  left: 24px;
  border-radius: var(--br-lg);
  height: 48px;
}
.text1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 53.5px);
  font-size: var(--regular-none-regular-size);
  line-height: 16px;
  font-weight: 500;
  font-family: var(--tiny-normal-regular);
  color: var(--ink-darkest);
  text-align: center;
}
.controlsButtons1,
.controlsTextFieldFloatin,
.controlsTextFieldFloatin1 {
  background-color: var(--sky-white);
  position: absolute;
  box-sizing: border-box;
}
.controlsButtons1 {
  cursor: pointer;
  border: 1px solid #000;
  padding: 0;
  width: calc(100% - 48px);
  right: 24px;
  bottom: 96px;
  left: 24px;
  border-radius: var(--br-lg);
  height: 48px;
}
.controlsTextFieldFloatin,
.controlsTextFieldFloatin1 {
  border: 1px solid var(--sky-light);
  width: calc(100% - 46px);
  right: 23px;
  left: 23px;
  border-radius: var(--br-sm);
  height: 50px;
}
.controlsTextFieldFloatin {
  font-family: var(--tiny-normal-regular);
  font-size: var(--tiny-normal-regular-size);
  top: 107px;
}
.controlsTextFieldFloatin1 {
  top: 169px;
}
.text2,
.textLabel {
  align-self: stretch;
  position: relative;
  font-size: var(--tiny-normal-regular-size);
  line-height: 12px;
  font-family: var(--tiny-normal-regular);
  color: var(--ink-lighter);
  text-align: left;
  display: inline-block;
  height: 12px;
  flex-shrink: 0;
}
.text2 {
  font-size: var(--regular-none-regular-size);
  line-height: 16px;
  color: var(--ink-darkest);
  display: none;
  height: 16px;
}
.partialsTextFieldFloatin {
  position: absolute;
  top: calc(50% - 217px);
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.byContinuingYou {
  color: var(--ink-darkest);
}
.termsOfService {
  color: var(--primary-base);
}
.byContinuingYouContainer1 {
  line-break: anywhere;
  width: 100%;
}
.byContinuingYouContainer {
  width: calc(100% - 48px);
  bottom: 357px;
  left: 30px;
  font-size: var(--tiny-normal-regular-size);
  line-height: 16px;
  text-align: left;
  display: flex;
  align-items: flex-end;
}
.byContinuingYouContainer,
.div,
.rightActionable,
.title {
  position: absolute;
  font-family: var(--tiny-normal-regular);
}
.div {
  width: calc(100% - 48px);
  top: 234px;
  left: 33px;
  font-size: var(--regular-none-regular-size);
  line-height: 16px;
  font-weight: 500;
  color: var(--ink-darkest);
  text-align: left;
  display: inline-block;
}
.rightActionable,
.title {
  top: calc(50% - 9px);
  font-size: var(--large-normal-bold-size);
  line-height: 18px;
}
.title {
  left: calc(50% - 24.5px);
  color: var(--ink-darkest);
  text-align: center;
}
.rightActionable {
  right: 24px;
  font-weight: 500;
  color: var(--primary-base);
  text-align: right;
  display: none;
}
.leftActionableIcon {
  position: absolute;
  top: calc(50% - 12px);
  left: 18px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.barsNavBarsStandard {
  position: absolute;
  width: 100%;
  top: 44px;
  right: 0;
  left: 0;
  background-color: var(--sky-white);
  height: 48px;
}
.text3 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 26.5px);
  font-size: var(--regular-none-regular-size);
  line-height: 16px;
  font-weight: 500;
  font-family: var(--tiny-normal-regular);
  color: var(--sky-white);
  text-align: center;
}
.controlsButtons2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--ink-darkest);
  position: absolute;
  width: calc(100% - 48px);
  right: 24px;
  bottom: 151px;
  left: 24px;
  border-radius: var(--br-lg);
  height: 48px;
}
.loginemail {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--sky-white);
  width: 100%;
  height: 812px;
  overflow: hidden;
}
